<h1>Skate Park</h1>

<div class="py-4">
  <h2>Administración</h2>
  <hr />

  <table class="table w-50 m-auto">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Foto</th>
        <th scope="col">Nombre</th>
        <th scope="col">Años de experiencia</th>
        <th scope="col">Especialidad</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      {{#each usuarios}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td><img src="/{{this.foto}}" alt="{{this.nombre}}" width="80" height="80" style="vertical-align:middle"></td>
        <td>{{this.nombre}}</td>
        <td>{{this.anos_experiencia}}</td>
        <td>{{this.especialidad}}</td>
        <td><input type="checkbox" {{#if this.estado}} checked {{/if}} onclick="changeStatus({{this.id}}, this)"></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<script>
  const changeStatus = async (id, e) => {
    const estado = e.checked;
    try {
      await axios.put('/usuarios', {
        id,
        estado
      })
      alert(estado ? 'Usuario habilitado' : 'Usuario deshabilitado');
      window.location.replace("/admin");
    }
    catch ({ response }) {
      const { data } = response;
      const { error } = data;
      alert(error);
    }
  }
</script>